.vscode
.DS_Store
node_modules
*.key
*.lock
*.log

lib
lib-esm
_bundles

docs/docs/reference

# Library Builds
**/dist
**/package-lock.json
/src/core/graph

# Tests
/coverage

# Demos 
pyodide.html

# CLI
**/test/**

