.nexus-wrapper {
    background: black;
    width: 100%;
    height: 100%;
}

.nexus-webgl
{
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
}


.nexus-renderer-container {
    /* position: relative; */
    width: 100%;
    height: 100%;
}


.nexus-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top: -100%;
    box-sizing: border-box;
    text-align: left;
    height: 100%;
    width: 100%;
    padding: 50px;
    color: white;
    z-index: 1;
    pointer-events: none;
    line-height: 3em;
}

#nexus-gameHero {
    transition-duration: 1.5s;
    transition-property: opacity;
}

.nexus-container div {
    width: 100%;
}

.nexus-container h1 {
    font-size: 5em;
    margin: 0px;
    text-transform: uppercase;
    width: 100%;
}

.nexus-container p {
    font-size: 0.8em;
    width: 100%;
}

.nexus-loading-bar {
    position: relative;
    top: calc(75% - 100%);
    width: 100%;
    height: 2px;
    background: #ffffff;
    z-index: 2;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 1.5s;
    will-change: transform;
}

.nexus-loading-bar.ended
{
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}

.nexus-point-container {
    position: relative;
    top: -50%;
    left: 50%;
}

.nexus-point {
    z-index: 1;
    /* transition: transform 0.5s; */
    /* will-change: transform; */
}

/* .nexus-point:active {
	pointer-events: none;
} */

.nexus-point .nexus-label {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    color: #ffffff;
    border-radius: 50%;
    background: #0000008a;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    line-height: 40px;
    cursor: pointer;
    transform: scale(0, 0);
    transition: transform 0.5s;
}

.nexus-point.visible .nexus-label {
    transform: scale(1, 1);
    transition: transform 0.5s;
}

.nexus-point .nexus-text
{
    position: absolute;
    top: 30px;
    width: 200px;
    padding: 20px;
    border-radius: 4px;
    background: #00000077;
    border: 1px solid #ffffff77;
    color: #ffffff;
    line-height: 1.3em;
    font-weight: 100;
    font-size: 14px;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.5s;
    pointer-events: none;
}

.nexus-point:hover .nexus-text {
    opacity: 1;
}