<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>New Tab</title>
    <script src="../common/datastreams.js"></script>
    <link rel="stylesheet" href="newtab.css" />
    <% if (NODE_ENV === 'development') { %>
    <!-- Load some resources only in development environment -->
    <% } %>
  </head>
  <body>
    <button id="connect">Connect</button>
    <p id="readout">---</p>

    <div id="app"></div>
    <!-- <script src="newtab.js"></script> -->
    <script src="../common/content_script.js"></script>
  </body>
</html>
