
* {
    font-family: 'Montserrat', sans-serif;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;

    }
    ::-webkit-scrollbar {
        width: 0px; 
        height: 0px; 
    }

body {
    margin: 0;
}

div {
    box-sizing: border-box; 
}

a {
    color: rgb(155, 155, 155);
    text-decoration: none;
    transition: color 0.5s;
}

a:hover{
    color: rgb(200, 200, 200)
}
a.hover{
    color: rgb(200, 200, 200)
}

/* Selector */
select {
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 5px;
    background: black;
    color: white;
    font-size: 64%;
    /* margin: 0px 10px; */
    min-width: 100px;
}

/* Device Selector */

.brainsatplay-header-grid{
    display: flex;
    align-items: center;
    /* grid-template-columns: repeat(2,1fr); */
} 

.brainsatplay-header-grid .brainsatplay-default-button{
    max-width: 100px;
    margin-left: 25px;
    font-size: 80%;
}

.brainsatplay-device-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* border: 1px solid white; */
} 

.brainsatplay-companyCard {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    background: rgba(35,35,35,0.75);
    padding: 25px;
    margin: 10px;
    border-radius: 5px;;
    position: relative;
}
.brainsatplay-companyCard .devices {
    width: 100%;
    display: flex;
}
.brainsatplay-companyCard h3 {
    margin: 10px;
}

.brainsatplay-deviceCard{
    background:rgb(15,15,15);
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
    border-radius: 5px;;
    position: relative;
}
.brainsatplay-deviceCard .variants {
    width: 100%;
    display: flex;
}
.brainsatplay-deviceCard h4 {
    margin: 10px;
}

.brainsatplay-variantButton{
    /* width: 50px; */
    flex-grow: 1;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    font-size: 70%;
    margin: 5px;
    position: relative;
}

.brainsatplay-variantButton:hover {
    background-color: rgb(35,35,35);
}
.brainsatplay-variantButton.hover {
    background-color: rgb(35,35,35);
}


.indicator{
    position: absolute;
    width: 7px;
    height: 7px;
    background: transparent;
    top: 10px;
    right: 10px;
    /* transform: translate(-50%,-50%)  */
    border-radius: 50%;
    border: 1px solid white;
    /* opacity: 0.5; */
}

.indicator.on {
    background: lime;
    border: none;
}

 /* Forms */


/* Login */
.brainsatplay-form input {
    width: 100%; height: 100%; padding: 10px 0px; display: flex; align-items: center; justify-content:center; background:transparent; border: transparent; border-bottom: 1px solid whitesmoke; color: white;
}:focus{
    outline: none;
}

.brainsatplay-form-container button {
    margin: 10px;
    min-height: 0px;
}

.brainsatplay-form-container input::placeholder {
    color: darkgray;
}

.brainsatplay-form-context {
    flex-grow: 1;
    max-width: 500px;
}

.brainsatplay-form-context form {
    width: 100%;
}

.brainsatplay-login-container {
    transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

.brainsatplay-login{
    /* linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); */
    /* width: 75%; */
    /* font-size: 20px; */
    text-align: center;
    z-index:1;
}

.brainsatplay-login-element{
    margin:20px;
}

.brainsatplay-login-button {
    width: 100%;
}

.brainsatplay-signup-button {
    width: 100%;
}

.brainsatplay-login-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.brainsatplay-login-buttons button{
    flex-grow: 1;
    margin: 10px;
}

/* Code Editor */

.brainsatplay-code-editing {
    color: transparent;
    background: transparent;
    opacity: 0.5;
    caret-color: white;
    z-index: 1;
}

.brainsatplay-code-highlighting {
    background-color: rgba(0,0,0,0.8) !important; 
    z-index: 0 !important;
    white-space: pre !important;
}

.brainsatplay-code-editing, .brainsatplay-code-highlighting {
    margin: 0px !important;
    width: calc(100%) !important;
    height: calc(100% - 85px) !important;
    position:absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: auto !important;
    white-space: nowrap !important;
    padding: 25px !important;
    resize: none !important;
    -moz-tab-size : 4 !important;
      -o-tab-size : 4 !important;
         tab-size : 4 !important;
}

.brainsatplay-code-editing, .brainsatplay-code-highlighting, .brainsatplay-code-highlighting * {
    font-size: 12px !important;
    font-family: monospace !important;
    line-height: 20pt !important;
    box-sizing: border-box !important;;
}


/* Tutorial */

.brainsatplay-tutorial{
    position: absolute;
    left: 0;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100vw;
    height: 100vh;
    padding: 50px;
    color: white;
    transition: opacity 0.5s ease-out;
    z-index: 100;
    background: black;
}

.brainsatplay-tutorial h1 {
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
}

.brainsatplay-tutorial-content {
    width: 100%;
    height: 50%;
}

.brainsatplay-tutorial button {
    box-sizing: border-box; 
    /* min-width: 50px; */
    min-height: 50px;
    flex-grow: 1;
    width: 200px;
    max-width: 48%;
    position: relative;
    padding: 5px;
    border-radius: 5px;
    font-size: 80%;
    background: transparent;
    color: white;
    border: 1px solid rgb(200, 200, 200);
    text-align: left;
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brainsatplay-tutorial-dynamic-text {
    position: relative;
    width: 100%;
    height: 100%;
}

.brainsatplay-tutorial-dynamic-text .next{
    position: absolute; 
    right: 0;
    bottom: 0;
}

.brainsatplay-tutorial-dynamic-text .previous{
    position: absolute; 
    right: 0;
    bottom: 0;
    transform: translateX(-108%)
}


.brainsatplay-tutorial button:hover {
    background-color: rgb(35,35,35);
}
.brainsatplay-tutorial button.hover {
    background-color: rgb(35,35,35);
}

.brainsatplay-tutorial .close {
    position: absolute;
    right: 25px;
    bottom: 25px;
    width: 200px;
}

.brainsatplay-tutorial-tooltip-container{
    position: absolute;
    margin: 0px;
    /* width: 200px; */
    z-index: 1000;
}

.brainsatplay-tutorial-tooltip {
    /* position: relative; */
    /* top: 0px; */
    width: 50vw;
    max-width: 400px;
    font-size: 80%;
    font-weight: normal;
    text-align: left;
    padding: 15px 25px;
    border-style: 1px solid;
    border-color: black;
    border-radius: 4px;
    background-color: rgba(250,250,250,0.95);
    color: black;
    opacity: 0;
    transition: opacity 1.0s;

    /* Glow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

.brainsatplay-tutorial-tooltip-container.left{
    top: 50%;
    right: 0;
    padding: 0;
    padding-left: 25px;
    transform: translate(100%,-50%);
}

.brainsatplay-tutorial-tooltip-container.right{
    top: 50%;
    left: 0;
    padding: 0;
    padding-right: 25px;
    transform: translate(-100%,-50%);
}

.brainsatplay-tutorial-tooltip-container.up{
    bottom: 0%;
    right: 50%;
    padding: 0;
    padding-top: 25px;
    transform: translate(50%,100%);
}

.brainsatplay-tutorial-tooltip-container.down{
    top: 0%;
    right: 50%;
    padding: 0;
    padding-bottom: 25px;
    transform: translate(50%,-100%);
}

.brainsatplay-tutorial-tooltip::after {
    content: " ";
    position: absolute;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
}

.brainsatplay-tutorial-tooltip.left::after{
    right: 100%; /* To the left of the tooltip */
    top: 50%;
    transform: translateX(25px);
    border-color: transparent ghostwhite transparent transparent;
}

.brainsatplay-tutorial-tooltip.right::after{
    left: 100%; /* To the right of the tooltip */
    top: 50%;
    transform: translateX(-25px);
    border-color: transparent transparent transparent ghostwhite;
}

.brainsatplay-tutorial-tooltip.up::after{
    left: 50%; /* To the left of the tooltip */
    top: 0%;
    transform: translateY(25px);
    border-color: transparent transparent ghostwhite transparent;
}

.brainsatplay-tutorial-tooltip.down::after{
    left: 50%;
    bottom: 0%;
    transform: translateY(-25px);
    border-color: rgb(130, 130, 137) transparent transparent transparent;
}

.brainsatplay-tutorial-tooltip-container button{
    background: black !important; 
    color: white !important; 
    margin: 10px !important; 
    text-align: center !important; 
    min-height: 40px !important;
}


.brainsatplay-tutorial-mask-container{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    height: 200px;
    background: transparent;
    z-index: 10;
    width: 100%;
    height: 100%;
    pointer-events: none;
} 

.brainsatplay-tutorial-mask {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index:1;
}



/* Plugin GUI */ 
#brainsatplay-plugin-gui {
    position:absolute; 
    bottom: 20px; 
    right: 25px; 
    z-index: 100;
}

/* Node Editor */
.brainsatplay-default-container.brainsatplay-node-editor{
        z-index: 999;
        opacity: 0; 
        transition: opacity 1s;
        pointer-events: none;
        background: rgba(0,0,0,.7);
        padding: 25px;
}


.brainsatplay-node-selector{
    /* overflow-y: scroll; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    z-index:11;
}

.brainsatplay-node-viewer{
    height: 100%;
    position: relative;
}

.brainsatplay-node{
    position: absolute;
}

.brainsatplay-node-selector > input{
    height: 50px;
    width: 100%;
    background: rgb(230, 230, 230);
    padding: 5px 15px;
    box-sizing: border-box;
    border: 0px;
}

.brainsatplay-node-selector > .node-options{
    overflow-y: scroll;
    height: 100%;
}

.brainsatplay-option-node{
    width: 100%;
    padding: 5px 15px;
    box-sizing: border-box; 
    background: rgb(15,15,15);
    cursor: pointer;
    transition: 0.5s;
}

.brainsatplay-option-node:hover{
    background: rgb(35,35,35);
}

.brainsatplay-default-node-div{
    /* padding: 5px 0px; */
    z-index: 10;
    position: absolute;
}

.brainsatplay-display-node{
    min-width: 100px;
    position: absolute;
    background: rgb(155, 155, 155);
    cursor: move;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    z-index: initial;
}

.brainsatplay-display-node > .node-text {
    position: absolute;
    bottom: 50%;
    /* left: calc(100% + 15px); */
    transform: translateY(50%);
    font-size: 75%;
    text-align:center;
    width:100%;
    pointer-events: none;
}

.brainsatplay-display-node > .node-port-container {
    display: flex;
}

.node-port-container > .node-port {
    position: relative;
    background: rgb(100, 100, 100);
    width: 20px;
    height: 20px;
    transition: 0.5s;
    border-radius: 50%;
    cursor: pointer;
}

.node-port-container > .node-port.active{
    position: relative;
    background: rgb(200, 200, 200);
    width: 20px;
    height: 20px;
}

.node-port-container > .node-port.active.updated{
    background: rgb(255, 105, 97);
}

.node-port-container .node-port:hover .node-tooltip{
    opacity: 1;
}

.node-port-container .node-tooltip {
    opacity: 0;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    /* background:rgba(0, 0, 0, 0.5);
    padding: 5px; */
}

/* Input Port Behavior */
.node-port-container.target-ports {
    transform: translateY(-40%);
    z-index: -1;
}

.node-port-container.target-ports .node-tooltip {
    top: 0%;
    left: 50%;
    transform: translate(-50%,-85%);
}

/* Source Port Behavior */
.node-port-container.source-ports {
    transform: translateY(40%);
    z-index: -1;
}

.node-port-container.source-ports .node-tooltip {
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,85%);
}

.brainsatplay-default-node h3{
    margin-bottom: 0px;
}

.brainsatplay-node-viewer > .edge{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: transparent;
    z-index: 1;
    pointer-events: none;
}
  
.brainsatplay-node-viewer > .edge svg{
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    background: transparent;
    touch-action: none;
    z-index: 1;
    pointer-events: none;
}

  .brainsatplay-node-viewer > .edge path {
    stroke-width: 3;
    stroke: white;
    stroke-linecap: round;
    fill: none;
    pointer-events: auto;
    transition: stroke 0.5s;
  }

  .brainsatplay-node-viewer > .edge path.updated {
    stroke: rgb(255, 105, 97);
}
  
  .brainsatplay-node-viewer > .edge .control {
    stroke-width: 3;
    stroke: transparent;
    fill: transparent;
    pointer-events: auto;
  }
  
  /* .brainsatplay-node-viewer > .edge .control:hover, #mysvg .control.drag
  {
    fill: #c00;
    cursor: move;
  }
   */
  .brainsatplay-node-viewer > .edge line
  {
    /* stroke-width: 2;
    stroke: #999;
    stroke-linecap: round;
    stroke-dasharray: 5,5; */
    stroke: transparent;
    fill: transparent;
  }  



/* DEFAULT UI ELEMENTS */
/* Intro UI */
.brainsatplay-default-menu {
    color: white;
}

.brainsatplay-default-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    text-align: left;
    height: 100%;
    width: 100%;
    padding: 5%;
    color: white;
    background: black;
    z-index: 1;
    /* line-height: 3em; */
    transition: opacity 1.5s;
}

.brainsatplay-default-container > div {
    width: 100%;
}

.brainsatplay-default-container h1 {
    font-size: 10vw;
    margin: 0px;
    text-transform: uppercase;
    width: 100%;
}

.brainsatplay-default-container p {
    font-size: 0.8em;
    width: 100%;
}

.brainsatplay-intro-loadingbar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
    margin-top: 50px;
    z-index: 2;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 1.5s;
    will-change: transform;
}

.brainsatplay-intro-loadingbar.ended
{
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}



.brainsatplay-default-button {
    box-sizing: border-box; 
    /* min-width: 50px; */
    min-height: 50px;
    flex-grow: 1;
    width: 200px;
    /* max-width: 48%; */
    position: relative;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 80%;
    background: black;
    color: white;
    border: 1px solid rgb(200, 200, 200);
    text-align: left;
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    pointer-events: 'auto'
}

.brainsatplay-default-button:hover {
    background-color: rgb(35,35,35);
}
.brainsatplay-default-button.hover {
    background-color: rgb(35,35,35);
}

