
* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --editor-tab-height: 35px;
  }

html {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;

    }
    ::-webkit-scrollbar {
        width: 0px; 
        height: 0px; 
    }

body {
    margin: 0;
}

div {
    box-sizing: border-box; 
}

a {
    color: rgb(155, 155, 155);
    text-decoration: none;
    transition: color 0.5s;
}

a:hover{
    color: rgb(200, 200, 200)
}

/* Selector */
select {
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 5px;
    background: black;
    color: white;
    font-size: 64%;
    /* margin: 0px 10px; */
    min-width: 100px;
}

/* Device Selector */

.brainsatplay-header-grid{
    display: flex;
    align-items: center;
    /* grid-template-columns: repeat(2,1fr); */
} 

.brainsatplay-header-grid .brainsatplay-default-button{
    max-width: 100px;
    margin-left: 25px;
    font-size: 80%;
}

.brainsatplay-device-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* border: 1px solid white; */
} 

.brainsatplay-companyCard {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    background: rgba(35,35,35,0.75);
    padding: 25px;
    margin: 10px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    align-items: flex-start;
}
.brainsatplay-companyCard .devices {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.brainsatplay-companyCard h3 {
    margin: 10px;
}

.brainsatplay-deviceCard{
    background:rgb(15,15,15);
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
    width: 43%;
    border-radius: 5px;;
    position: relative;
}
.brainsatplay-deviceCard .variants {
    width: 100%;
    display: flex;
}
.brainsatplay-deviceCard h4 {
    margin: 10px;
}

.brainsatplay-variantButton{
    /* width: 50px; */
    flex-grow: 1;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    font-size: 70%;
    margin: 5px;
    position: relative;
}

.brainsatplay-variantButton:hover {
    background-color: rgb(35,35,35);
}
.brainsatplay-variantButton.hover {
    background-color: rgb(35,35,35);
}


.indicator{
    position: absolute;
    width: 7px;
    height: 7px;
    background: transparent;
    top: 10px;
    right: 10px;
    /* transform: translate(-50%,-50%)  */
    border-radius: 50%;
    border: 1px solid white;
    /* opacity: 0.5; */
}

.indicator.on {
    background: lime;
    border: none;
}

 /* Forms */


/* Login */
.brainsatplay-form input {
    width: 100%; height: 100%; padding: 10px 0px; display: flex; align-items: center; justify-content:center; background:transparent; border: transparent; border-bottom: 1px solid whitesmoke; color: white;
}:focus{
    outline: none;
}

.brainsatplay-form-container button {
    margin: 10px;
    min-height: 0px;
}

.brainsatplay-form-container input::placeholder {
    color: darkgray;
}

.brainsatplay-form-context {
    flex-grow: 1;
    max-width: 500px;
}

.brainsatplay-form-context form {
    width: 100%;
}

.brainsatplay-login-container {
    transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

.brainsatplay-login{
    /* linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); */
    /* width: 75%; */
    /* font-size: 20px; */
    text-align: center;
    z-index:1;
}

.brainsatplay-login-element{
    margin:20px;
}

.brainsatplay-login-button {
    width: 100%;
}

.brainsatplay-signup-button {
    width: 100%;
}

.brainsatplay-login-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.brainsatplay-login-buttons button{
    flex-grow: 1;
    margin: 10px;
}

/* Code Editor */

.brainsatplay-live-code-editor{
    color: white; width: 100%; height: 100%; z-index: 100000; overflow: scroll;
}

.brainsatplay-live-code-editor button {
    margin: 0px;
    border-radius: 0px;
    border: 1px solid rgb(35,35,35);
    padding: 0px 15px;
    font-size: 60%;
}

.brainsatplay-live-code-editor textarea {
    border: none;
}

.brainsatplay-code-editing {
    color: transparent;
    background: transparent;
    opacity: 0.5;
    caret-color: white;
    z-index: 1;
}


.brainsatplay-code-highlighting {
    background-color: rgba(0,0,0,0.8) !important; 
    z-index: 0 !important;
    white-space: pre !important;
}

.brainsatplay-code-editing, .brainsatplay-code-highlighting {
    margin: 0px !important;
    width: 100% !important;
    height: 100% !important;
    position:absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: auto !important;
    white-space: nowrap !important;
    padding: 25px !important;
    resize: none !important;
    -moz-tab-size : 4 !important;
      -o-tab-size : 4 !important;
         tab-size : 4 !important;
}

.brainsatplay-code-editing, .brainsatplay-code-highlighting, .brainsatplay-code-highlighting * {
    font-size: 12px !important;
    font-family: monospace !important;
    line-height: 20pt !important;
    box-sizing: border-box !important;;
}


/* Tutorial */

.brainsatplay-tutorial{
    position: absolute;
    left: 0;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100vw;
    height: 100vh;
    padding: 50px;
    color: white;
    transition: opacity 0.5s ease-out;
    z-index: 100;
    background: black;
}

.brainsatplay-tutorial h1 {
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
}

.brainsatplay-tutorial-content {
    width: 100%;
    height: 50%;
}

.brainsatplay-tutorial button {
    box-sizing: border-box; 
    /* min-width: 50px; */
    min-height: 50px;
    flex-grow: 1;
    width: 200px;
    max-width: 48%;
    position: relative;
    padding: 5px;
    border-radius: 5px;
    font-size: 80%;
    background: transparent;
    color: white;
    border: 1px solid rgb(200, 200, 200);
    text-align: left;
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brainsatplay-tutorial-dynamic-text {
    position: relative;
    width: 100%;
    height: 100%;
}

.brainsatplay-tutorial-dynamic-text .next{
    position: absolute; 
    right: 0;
    bottom: 0;
}

.brainsatplay-tutorial-dynamic-text .previous{
    position: absolute; 
    right: 0;
    bottom: 0;
    transform: translateX(-108%)
}


.brainsatplay-tutorial button:hover {
    background-color: rgb(35,35,35);
}
.brainsatplay-tutorial button.hover {
    background-color: rgb(35,35,35);
}

.brainsatplay-tutorial .close {
    position: absolute;
    right: 25px;
    bottom: 25px;
    width: 200px;
}

.brainsatplay-tutorial-tooltip-container{
    position: absolute;
    margin: 0px;
    /* width: 200px; */
    z-index: 1000;
}

.brainsatplay-tutorial-tooltip {
    /* position: relative; */
    /* top: 0px; */
    width: 50vw;
    max-width: 400px;
    font-size: 80%;
    font-weight: normal;
    text-align: left;
    padding: 15px 25px;
    border-style: 1px solid;
    border-color: black;
    border-radius: 4px;
    background-color: rgba(250,250,250,0.95);
    color: black;
    opacity: 0;
    transition: opacity 1.0s;

    /* Glow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

.brainsatplay-tutorial-tooltip-container.left{
    top: 50%;
    right: 0;
    padding: 0;
    padding-left: 25px;
    transform: translate(100%,-50%);
}

.brainsatplay-tutorial-tooltip-container.right{
    top: 50%;
    left: 0;
    padding: 0;
    padding-right: 25px;
    transform: translate(-100%,-50%);
}

.brainsatplay-tutorial-tooltip-container.up{
    bottom: 0%;
    right: 50%;
    padding: 0;
    padding-top: 25px;
    transform: translate(50%,100%);
}

.brainsatplay-tutorial-tooltip-container.down{
    top: 0%;
    right: 50%;
    padding: 0;
    padding-bottom: 25px;
    transform: translate(50%,-100%);
}

.brainsatplay-tutorial-tooltip::after {
    content: " ";
    position: absolute;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
}

.brainsatplay-tutorial-tooltip.left::after{
    right: 100%; /* To the left of the tooltip */
    top: 50%;
    transform: translateX(25px);
    border-color: transparent ghostwhite transparent transparent;
}

.brainsatplay-tutorial-tooltip.right::after{
    left: 100%; /* To the right of the tooltip */
    top: 50%;
    transform: translateX(-25px);
    border-color: transparent transparent transparent ghostwhite;
}

.brainsatplay-tutorial-tooltip.up::after{
    left: 50%; /* To the left of the tooltip */
    top: 0%;
    transform: translateY(25px);
    border-color: transparent transparent ghostwhite transparent;
}

.brainsatplay-tutorial-tooltip.down::after{
    left: 50%;
    bottom: 0%;
    transform: translateY(-25px);
    border-color: rgb(130, 130, 137) transparent transparent transparent;
}

.brainsatplay-tutorial-tooltip-container button{
    background: black !important; 
    color: white !important; 
    margin: 10px !important; 
    text-align: center !important; 
    min-height: 40px !important;
}


.brainsatplay-tutorial-mask-container{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    height: 200px;
    background: transparent;
    z-index: 10;
    width: 100%;
    height: 100%;
    pointer-events: none;
} 

.brainsatplay-tutorial-mask {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index:1;
}



/* Plugin GUI */ 
#brainsatplay-plugin-gui {
    position:absolute; 
    bottom: 20px; 
    right: 25px; 
    z-index: 100;
}

/* Node Editor */
.brainsatplay-default-container.brainsatplay-node-editor{
    z-index: 999;
    /* opacity: 0;  */
    transition: opacity 1s;
    pointer-events: none;
    background: rgba(0,0,0,.5);
    padding: 0px;
    display: flex;
    flex-wrap: nowrap;
}

.brainsatplay-default-container.brainsatplay-node-editor > .main{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100vh;
    width: 100%;
    position: relative;
}

.brainsatplay-node-view{
    height: calc(100% - var(--editor-tab-height));
}

.brainsatplay-node-editor-tabs{
    width: 100%; 
    /* height: 100px;  */
}

/* Style the tab */
.brainsatplay-node-editor-tabs > .tab {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    width: 100%;
    height: var(--editor-tab-height);
    background: rgb(0,0,0);
  }


  .brainsatplay-node-editor-tabs > .tab > .tablinks {
    position: relative;
  }

  .brainsatplay-node-editor-tabs > .tab > .tablinks.edited .closeIcon {
    background: white;
    border-radius: 50%;
    opacity: 1;
    width: 10px;
    height: 10px;
    padding-right: 0;
    margin-right: 14px;
    color: transparent;
  }


  .closeIcon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3;
    padding-right: 15px;
    transition: opacity 0.3s;
    font-size: 130%;
  }

  .brainsatplay-node-editor-tabs > .tab > .tablinks .closeIcon:hover {
    opacity: 0.5;
    color: white;
    cursor: pointer;
    padding-right: 15px;
    margin-right: 0px;
    width: auto;
    height: auto;
    background: transparent;
    border-radius: 0%;
    transition: opacity 0.1s;
  }
  
  /* Style the buttons that are used to open the tab content */
  .brainsatplay-node-editor-tabs > .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    font-size: 70%;
    padding: 10px 20px;
    transition: 0.3s;
    white-space:nowrap;
    color: white;
    height: var(--editor-tab-height);
    border: 1px solid rgb(5,5,5);
    background: rgb(10,10,10);
    /* width: 200px; */
    max-width: 100%;
  }
  
  /* Change background color of buttons on hover */
  .brainsatplay-node-editor-tabs > .tab button:hover {
    background:  rgb(25,25,25);
  }
  
  /* Create an active/current tablink class */
  .brainsatplay-node-editor-tabs > .tab button.active {
    background: rgb(25,25,25);
  }
  
  /* Style the tab content */
  .brainsatplay-node-editor-tabs > .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .brainsatplay-node-selector{
    width: 100%;
    height: 100%;
    position:absolute;
    transition: opacity 1s;
    background: rgba(0,0,0,.7);
    z-index:11;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}


.brainsatplay-node-selector-menu{
    width: 75%;
    height: 25%;
}

.brainsatplay-node-selector-menu > input{
    height: 50px;
    width: 100%;
    background: rgb(230, 230, 230);
    padding: 5px 15px;
    box-sizing: border-box;
    border: 0px;
}


.brainsatplay-node-selector-menu > .node-options{
    overflow-y: scroll;
    height: 100%;
}

.brainsatplay-option-type{
    width: 100%;
    padding: 10px 15px;
    font-size: 75%;
    box-sizing: border-box; 
    background: rgb(5,5,5);
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}

.brainsatplay-option-type:hover{
    background: rgb(10,10,10);
}

.brainsatplay-option-type > .count {
    color: white;
    opacity: 0.25;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%)
}

.brainsatplay-option-type:after {
    content: ''; 
    font-size: 75%;
    color: white;
    float: left;
    opacity: 0.25;
    border: 1px solid white;
    border-width: 0 2px 2px 0;
    padding: 2px;
    margin: 4px 10px 0px -5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: 0.5s;
  }
  
  .brainsatplay-option-type.active:after {
    content: ''; 
    margin: 2px 10px 0px 0px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  /* Style the collapsible content. Note: hidden by default */
.option-type-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

.brainsatplay-option-node{
    width: 100%;
    padding: 5px 15px;
    font-size: 75%;
    box-sizing: border-box; 
    background: rgb(15,15,15);
    cursor: pointer;
    transition: 0.5s;
    display: flex;
}

.brainsatplay-option-node.experimental {
    background: rgb(61, 39, 39);
}

.brainsatplay-option-node:hover{
    background: rgb(35,35,35);
}

.brainsatplay-node-viewer{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.grid {
    background-image:
      repeating-linear-gradient(rgba(200,200,200,.3) 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, rgba(200,200,200,.3) 0 1px, transparent 1px 100%);
    background-size: 20px 20px;
}

.brainsatplay-node-code{
    /* padding: 50px; */
    width: 100%;
    height: 100%;
    z-index: 12;
    transition: opacity 0.5s;
    border: none;
    height: calc(100% - var(--editor-tab-height));
}

.brainsatplay-node-editor-preview-wrapper{
    box-sizing: border-box;
    overflow: auto;
    max-width: 100%;
    height: 100%;
}

.brainsatplay-node-editor-preview{
    width: 100%;
    height: 100%;
    /* padding: 100%; */
}

/* .brainsatplay-node-editor-preview > div{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
} */

.brainsatplay-node-sidebar{
    height: 100vh;
    position: relative;
    min-width: 250px;
    background: rgb(20,20,20);
    font-size: 80%;
    /* border-left: 1px solid  rgb(30,30,30); */
    z-index: 10;
    max-width: 250px;
    overflow: scroll;
}

.brainsatplay-node-sidebar > div {
    width: 100%;
}

.brainsatplay-node-sidebar button {
    flex: 45%;
    min-height: 30px;
}

.node-sidebar-header{
    background: rgb(5,5,5);
    padding: 10px 15px;
    user-select: none;
}

.node-sidebar-section{
    background: rgb(5,5,5);
    padding: 0px 15px 10px 15px;
    user-select: none;
    font-size: 60%;
    /* height: var(--editor-tab-height); */
    border-bottom: 1px solid rgb(50,50,50);

    display: grid;
    grid-template-columns: 1fr 30px;
}

.brainsatplay-node-sidebar .addbutton{
    min-width: 0px;
    font-size: 14px;
    height: 20px;
    width: 20px;
    min-height: 0;
    padding: 0px;
}

.node-sidebar-section h3 {
    margin: 0px;
    margin-top: 15px;
}

.node-sidebar-header h4 {
    margin: 0px;
}

.node-sidebar-content{
    padding: 0px 15px;
    display: grid;
    max-height: 200px;
    overflow: scroll;
}

.node-sidebar-content > .content-div {
    display: grid;
    /* padding: 5px;  */
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid rgb(5,5,5);
    border-bottom: 1px solid rgb(5,5,5);
    width: 100%;
    /* text-align: right; */
}

.node-sidebar-content > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: left;
}


.node-sidebar-content > div > div input, .node-sidebar-content > div > div textarea{
    background: black;
    color: white;
    padding: 5px;
    border: none;
    font-size: 80%;
    width: 100%;
}

/* .node-sidebar-content input[type="file"]{
    background: none;
} */


.node-sidebar-content input[type="range"] {
    margin-right: 25px;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 30%;
    width: 100%;
    cursor: pointer;
    border: none;
    margin: 0;
    background: black;
}

.node-sidebar-content > div > div > output {
    position: absolute; 
    user-select: none; 
    pointer-events: none; 
    z-index: 1;
    top: 50%;
    left: 10px;
    transform: translate(0%,-50%);
    font-size: 80%;
}

.node-sidebar-content input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(rgb(25, 25, 25), rgb(25, 25, 25));
}

 .node-sidebar-content input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0; /* 1 */
    height: 20px;
    background: black;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    opacity: 0.8;
    transition: opacity 0.5s;
}

.node-sidebar-content input[type="range"]:hover::-webkit-slider-thumb{
    opacity: 1;
}

.node-sidebar-content input[type="range"]::-moz-range-track {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}


.brainsatplay-node-sidebar > h3 {
    margin: 5px 0px;
}

.brainsatplay-node-sidebar > p {
    margin: 5px 0px;
}

.brainsatplay-node{
    position: absolute;
}

.brainsatplay-default-node-div{
    /* padding: 5px 0px; */
    z-index: 10;
    position: absolute;
}

.brainsatplay-default-node-div > .brainsatplay-display-node{
    position: absolute;
    background: rgb(155, 155, 155);
    cursor: move;
    z-index: initial;
    box-sizing: content-box;
    transition: box-shadow 0.5s;
}

.brainsatplay-default-node-div > .brainsatplay-display-node.clicked {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 50px rgba(255, 255, 255, 0.45);
}

.brainsatplay-display-node > .node-text {
    position: relative;
    background: rgb(130, 129, 129);
    padding: 10px;
    font-size: 60%;
    text-align:left;
    width:100%;
    user-select: none;
    pointer-events: none;
}

.latency-display {
    /* position: absolute;
    bottom: 0;
    left: 0; */
    width: 0%;
    background: #ff1439;
    height: 1px;
}

.brainsatplay-display-node > .node-text h3{
    margin: 0px;
}

.brainsatplay-display-node > .node-text p{
    margin: 0px;
}

.brainsatplay-display-node > .brainsatplay-port-manager {
    position: relative;
    padding: 10px;
    box-sizing: content-box;
}

.brainsatplay-port-manager > .node-port-container {
    /* display: flex; */
    position: absolute;
}

.node-port-container > .node-port-wrapper {
    padding: 3px 0px;
    position: relative;
}

.brainsatplay-port-manager .node-port {
    background: rgb(200, 200, 200);
    border-radius: 50%;
    opacity: 40%;
}

.brainsatplay-port-manager .node-port{
    position: relative;
    width: 15px;
    height: 15px;
    transition: 0.5s;
    /* margin: 3px; */
    cursor: pointer;
}

.node-port-container .node-port.active{
    opacity: 100%;
}

.node-port-container .node-port.active.updated{
    /* background: rgb(255, 105, 97); */
    /* opacity: 100%; */
    background: rgb(129, 218, 250);
    transform: scale(1.2)
}

.node-port-container .node-port:hover {
    opacity: 1;
}

.node-port-container .node-port.type-null {
    visibility: hidden;
}

.node-port-container .node-port.type-DataAtlas {
    background: rgb(209, 116, 255);
}

.node-port-container .node-port.type-string {
    background: rgb(255, 145, 233);
}

.node-port-container .node-port.type-Array {
    background: rgb(133, 255, 133);
}

.node-port-container .node-port.type-Object {
    background: rgb(255, 203, 107);
}

.node-port-container .node-port.type-number {
    background: rgb(255, 255, 108);
}

.node-port-container .node-port.type-float {
    background: rgb(255, 255, 108);
}

.node-port-container .node-port.type-int {
    background: rgb(255, 255, 108);
}

.node-port-container .node-port.type-boolean {
    background: rgb(126, 184, 255);
}

/* Input Port Behavior */
.node-port-container.target-ports {
    transform: translateX(-50%);
    left: 0;
    z-index: -1;
}

/* Source Port Behavior */
.node-port-container.source-ports {
    transform: translateX(50%);
    right: 0;
    z-index: -1;
}

.brainsatplay-port-manager > .node-label-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0px 10px
}

.node-label-container .node-label {
    pointer-events: none;
    user-select: none;
    text-align: center;
    font-size: 65%;
    padding: 4px;
    height: 21px;
}

.brainsatplay-default-node h3{
    margin-bottom: 0px;
}

.brainsatplay-node-viewer > .edge{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: transparent;
    /* z-index: 1; */
    pointer-events: none;
}
  
.brainsatplay-node-viewer > .edge svg{
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    background: transparent;
    touch-action: none;
    /* z-index: 1; */
    pointer-events: none;
}

  .brainsatplay-node-viewer > .edge path {
    stroke-width: 2;
    stroke: white;
    stroke-linecap: round;
    fill: none;
    pointer-events: auto;
    transition: stroke 0.5s;
    transition: stroke-width 0.5s;
  }

  .brainsatplay-node-viewer > .edge path.updated {
    /* stroke: rgb(255, 105, 97); */
    stroke-width: 3;
    stroke: rgb(129, 218, 250);
}
  
  .brainsatplay-node-viewer > .edge .control {
    stroke-width: 3;
    stroke: transparent;
    fill: transparent;
    pointer-events: auto;
    /* fill: #c00;
    cursor: move; */
  }
  
  /* .brainsatplay-node-viewer > .edge .control:hover, #mysvg .control.drag
  {
    fill: #c00;
    cursor: move;
  }
   */
  .brainsatplay-node-viewer > .edge line
  {
    /* stroke-width: 2;
    stroke: #999;
    stroke-linecap: round;
    stroke-dasharray: 5,5; */
    stroke: transparent;
    fill: transparent;
  }  

  /* Studio */
  .brainsatplay-project-div {
      flex: 33%;
      padding: 5px;
  }

  .brainsatplay-project-div button{
      width: 100%;
  }



/* Motor Imagery */
.training-overlay {
    z-index: 1000; 
    background: black; 
    width: 100vw; 
    height: 100vh; 
    position: absolute; 
    padding: 50px;
    top: 0; 
    left: 0; 
    opacity: 0; 
    pointer-events: none;
    transition: opacity 0.5s;
    overflow: hidden;
}

.training-game-container {
    display: flex;
    overflow-x: scroll;
    padding: 10px;
}

.training-game-container > div{
    width: 250px;
    min-width: 250px;
    max-width: 250px;
}

.training-overlay h1 {
    margin-bottom: 10px;
}

.training-model-container {
    display: flex;
    width: 100%;
}

.training-model-button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    background: rgb(25,25,25);
    transition: 0.5s;
    font-size: 70%;
}

.training-model-button.selected{
    background: rgb(40,40,40);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

.training-buttons {
    position: absolute !important; 
    bottom: 25px; 
    right: 25px; 
    display: flex;
}

.training-prompt-container {
    padding: 25px; 
    width: 100%;
    max-height: 100%;
}

.training-prompt {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap;
    height: 100%;
    background: rgb(25,25,25);
    border-radius: 5px;
    padding: 25px;
    width: 100%;
    border: 1px solid gray;
}

.training-prompt > div {
    width: 100%;
    flex: 47%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.training-prompt h2 {
    margin: 0;
    width: 100%;
}

.training-prompt p {
    margin: 0;
    padding-top: 10px;
    font-size: 75%;
}

/* Loader */
.loading-animation {
    /* border: 10px solid transparent;
    border-top: 10px solid rgb(129, 218, 250); */
    background-color: rgb(129, 218, 250);
    width: 10vw;
    height: 10vw;
    margin: 30px;
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}


/* Applet Browser */

.brainsatplay-browser{
    height:100%; width:100%;
    overflow-y: scroll;
    /* padding: 50px */
}


.browser-card{
    min-width: 100px;
    /* max-height: 300px; */
    width: 200px; 
    cursor: pointer;
    border-radius: 5px;
    position: relative;  
    font-size: 80%;
    flex-grow: 1;
    overflow: hidden;
    background: rgb(15,15,15);
    margin: 5px;
    transition: 0.5s;
}

.browser-card > img {
    width: 100%;
    aspect-ratio: 2 / 1; 
    object-fit: cover;
}

.browser-card > .info {
   padding: 0px 25px 10px 25px;
   z-index: 1;
   position: relative;
}

.browser-card:hover, .browser-card.selected{
    background-color:rgb(35,35,35)
}

.browser-card.selected{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

.browser-card.preset{
   flex: 40%;
   margin: 0;
   border-radius: 0;
   background: black;
   height: 200px;
}

.browser-card.preset > img {
    position: absolute;
    top: 0; 
    left: 0;
    height: 100%;
}

.browser-card.preset > .info {
    padding: 10px 25px;
    height: 100%;
    background: rgba(0,0,0,0.6);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .browser-card.preset > .info > div{
    /* position: absolute;
    bottom: 0;
    transform: translate(0px, -50%) */
 }

 .browser-card.preset:hover > .info {
    background: rgba(0,0,0,0.5);
 }

.preset-container {
    display: flex;
    flex-wrap: wrap; 
    align-items: stretch; 
    justify-content: center;
}

.applet-container{
    display: flex;
    flex-wrap: wrap; 
    align-items: stretch; 
    justify-content: center;
    padding: 0px 50px 50px 50px
}

.browser-header{
    display: grid; 
    grid-template-columns: repeat(2,1fr); 
    padding: 25px 50px 0px 50px;
    border-bottom: 2px solid white;
    margin-bottom: 25px;
}

/* Applet Menu */

.brainsatplay-default-interaction-menu {
    opacity: 1;
    width: 200px;
    /* padding: 10px 15px; */
    font-size: 75%;
    box-sizing: border-box; 
    transition: 0.5s;
    position: absolute;
    top: 0px;
    right:0px;
    z-index: 1000;
    transition: opacity 0.5s;
    /* overflow: scroll; */
    opacity: 0;
}

.brainsatplay-default-interaction-menu:hover {
    opacity: 1;
    /* background: rgb(10,10,10); */
}

.brainsatplay-default-interaction-menu .brainsatplay-option-node {
    padding: 10px;
}

.brainsatplay-default-interaction-menu .toggle {
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 25px; 
    height: 25px; 
    border: 1px solid white;
    border-radius: 50%; 
    margin: 2.5px; 
    margin-right: 10px;
    background: rgb(15,15,15);
  }

  .brainsatplay-default-interaction-menu  .toggle > img{
    box-sizing: border-box; 
    filter: invert(1);
    cursor: pointer;
    padding: 7px;
  }

  .arrow-up {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
  }
  


/* DEFAULT UI ELEMENTS */
/* Intro UI */
.brainsatplay-default-menu {
    color: white;
}

.brainsatplay-default-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    text-align: left;
    height: 100%;
    width: 100%;
    padding: 5%;
    color: white;
    background: black;
    z-index: 1;
    /* line-height: 3em; */
    transition: opacity 1.5s;
}

.brainsatplay-default-container > div {
    width: 100%;
}

.brainsatplay-default-container h1 {
    /* font-size: 10vw; */
    font-size: 5vw;
    margin: 0px;
    text-transform: uppercase;
    width: 100%;
}

.brainsatplay-default-container p {
    font-size: 0.8em;
    width: 100%;
}

.brainsatplay-intro-loadingbar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
    margin-top: 50px;
    z-index: 2;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 1.5s;
    will-change: transform;
}

.brainsatplay-intro-loadingbar.ended
{
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}



.brainsatplay-default-button {
    box-sizing: border-box; 
    /* min-width: 50px; */
    min-height: 50px;
    flex-grow: 1;
    width: 200px;
    /* max-width: 48%; */
    position: relative;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 80%;
    background: black;
    color: white;
    border: 1px solid rgb(200, 200, 200);
    text-align: left;
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    pointer-events: 'auto'
}

.brainsatplay-default-button:hover {
    background-color: rgb(35,35,35);
}
.brainsatplay-default-button.hover {
    background-color: rgb(35,35,35);
}

/* About and Extensions */

.brainsatplay-page {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
    overflow-y: scroll;
}

.brainsatplay-page > .brainsatplay-header-grid {
    padding: 50px 50px 0px 50px;
    border-bottom: 1px solid white;
 }

.brainsatplay-page .page-container {
    position: relative;
    padding: 20px 50px 50px 50px;
    height: 100%;
    width: 100%;
}

.brainsatplay-badge {
    background: rgb(15,15,15);
    padding: 20px;
    margin: 10px 0px;
    border-radius: 10px;
}

/* Shown / Hidden Classes */
.shown {
    opacity: 1;
    pointer-events: all;
}

.disabled {
    opacity: 50%;
    pointer-events: none;
}