div {
    box-sizing: border-box; 
}

/* Page */
#page {
    display:flex;
    position: absolute;
    top: 0px;
    left:100px;
    flex-direction: column; 
    width: calc(100vw - 100px)
}

/* Sidebar */

#sidebar {
    position:absolute;
    width:100px; 
    left:0px;
    top:0px;
    height:100vh;
    background: whitesmoke;
    transition: 0.5s;
    border-right: 1px solid rgb(200, 200, 200);
    z-index: 10;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

#sidebar:hover {
    width: 300px;
}

#sidebar-container:hover .overlay{
    opacity: 50%;
}

#sidebar-container .overlay{
    position: absolute;
    background: black;
    width: 100vw;
    height: 100vh;
    opacity: 0%;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

#sidebar button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    border: none;
    font-size: 80%;
    background: transparent;
    border-bottom: 1px solid rgb(200, 200, 200);
    transition: background-color 0.5s;
}

#sidebar button:hover {
    background: rgb(230, 230, 230);
}

#sidebar button:focus {
    outline: none;
    background: rgb(210, 210, 210);
}

#sidebar-toggle{
    position:absolute;
    z-index: 10;
    top: 0px;
    width: 100px;
    height:100vh;
    pointer-events: none;
}

/* Logo */

.logo-container {
    width: 100%;
    border-bottom: 1px solid rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    align-items:  center;
}

.logo {
    height: 100px; 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 20px;
}

/* Topbar */

#topbar {
    background: whitesmoke;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

#topbar p{
    font-size: 80%;
}


/* Selector */
select {
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 5px;
    color: black;
    font-size: 60%;
    margin: 0px 10px;
}